/*esse é um comentário em códigos CSS */
header{
    background-color: rgb(46, 173, 29);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color:rgb(5, 5, 5);
    padding-left: 2em;
    
}

body{
    background-color:rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;

    color: #0e0d0d;
    font-size: 1.1em;
    font-weight: normal;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6em;
    overflow-x: hidden;

    height: 100%;
    width: 100%;
}




.navbarnav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 5px;
    border: 0px;
    margin: 0px; 
}

.pesquisa{
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.btnoutline{
    background-color:rgb(9, 15, 10);
    color:rgb(46, 173, 29);
    padding: 16px;
    font-size: 16px;
    border:none;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    
}


.btnoutline:hover, .btnoutline:focus{
    background-color:rgb(39, 53, 38);
}
.linkbtn{
    background-color:rgb(12, 12, 12);
    color:rgb(46, 173, 29);
    padding: 16px;
    font-size: 16px;
    border:none;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}
.linkbtn:hover, .linkbtn:focus{
    background-color:rgb(39, 53, 38);
}
.navlink{
    background-color:rgb(12, 12, 12);
    color:rgb(46, 173, 29);
    padding: 16px;
    font-size: 16px;
    border:none;
    cursor: pointer;
}
.dropbtn{
    background-color:rgb(12, 12, 12);
    color:rgb(46, 173, 29);
    padding: 16px;
    font-size: 16px;
    border:none;
    
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    
}

.dropbtn:hover, .dropbtn:focus{
    background-color:rgb(39, 53, 38);
}

.dropdown{
    position:relative;
    display: inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color: rgb(12, 12, 12);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:'Courier New', Courier, monospace;
}

.dropdown-content a{
    color: rgb(46, 173, 29);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{ background-color:rgb(35, 43, 35);}
.dropdown:hover .dropdown-content { display:block;}

.show {display:block;}

.formcontrol{
    border-radius: 10px;
    width: 200px;
    height: 25px;
    background-color: rgb(35, 58, 38);
}

.formcontrol::placeholder{
    font-family:'Courier New', Courier, monospace;
}
.formcontrol:hover, .formcontrol:focus{
    background-color:rgb(39, 53, 38);
}

#div4{
    background-color: rgb(0, 0, 0);
    width: 97%;
    padding: 5px;
    
}

nav {
    width: 100%;
    display: absolute;
    position: absolute;
    z-index: 99;
    list-style: none;
    padding: 0px;
}

nav a {
    color: #fff;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
}

nav li {
    float: left;
    display: inline;
    list-style: none;
    margin-left: 10px;
}

/* the greetings */
#div1{
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    color: rgb(46, 173, 29);
}
.spoiler{
    background-color:rgb(15, 26, 17);
    color:rgb(46, 173, 29);
    padding: 16px;
    font-size: 16px;
    border:none;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}
.spoiler:hover, .spoiler:focus{
    background-color:rgb(39, 53, 38);
}



table{
    margin: 10px;
    padding: 4px;
    border: 10px;
    text-align: center;
    justify-content: center;
    
}

img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    padding: 5px;
    display: inline block;
    clear: none;
    border-radius: 10px;
}

/* the articles */
#div2{
    background-image: linear-gradient(to bottom right, black, rgb(120, 189, 52, .4));
    animation-name: mudardecor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   
    
    display: block;
    margin: 20px;
    margin-left: 9em;
    
    padding: 10px 15px;
    width: 70em;
    
    clear: none left;
    border-radius: 10px;
    
    text-align: center;
    color:chartreuse;
    
    
}

#vaultdancing{
    display: block;
    float: right;
}

@keyframes mudardecor{
    from {background-image: linear-gradient(to bottom right, black, rgb(120,189,52,.4));
    } to {background-image: linear-gradient(to bottom right, rgb(120,189,52,.4), black);}
}
/* the list */
#div3{
    background-image: linear-gradient(to right, black, rgb(120, 189, 52, .5));
    width: 20em;
    position:relative;
    display: block;
    float:left;
    padding: 2em 1em;
    margin: 1em;
    
    
    
    
    text-align: center;
    color:greenyellow;
    border-radius: 10px;
    height: 20em;
    
}
/* tiny info or table */
#div5{
    background-image: linear-gradient(to right, black, rgb(120, 189, 52, .5));
    
    position: relative;
    display: block;
    float: right;
    padding: 3em 2em;
    margin: 1em;
    
    justify-content: center;
    text-align: center;
    color:greenyellow;
    border-radius: 10px;

    
    
    width: 20em;
    shape-outside: content-box;
    
    height: 22em;
}

#boxes{
    display: grid;
    grid-row-start: 1;
    grid-row-end: auto;
    -ms-grid-row-align: start;
    margin: 1em;
    float: right;
   
    
}

/*footer */

#div6{
    background-color:rgb(46, 173, 29);
    padding: 10px;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color:rgb(9, 12, 8);
}



#titlefoot{
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 100px;
}
#infos{
    display: block;
    text-align: left;
    padding: 5px 15px;
    margin: 5px;    
}

.buttonid{
    background-color: rgb(45, 124, 34);
    display: block;
    position:relative;
    float:right;
    margin-left: 5em;
    
    
    border-radius: 1em;
    color:black;
    padding: 16px;
    font-size: 20px;
    border:none;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    
}

.buttonid:hover, .buttonid:focus{
    background-color:rgb(46, 173, 29);
    color:crimson;
    
}

#whyid{
    border-radius: 10px;
    border: none;
    height: 1.5em;
    width: 20em;
}
#whyid::placeholder{
    font-family:'Courier New', Courier, monospace;
}
#nameid{
    border-radius: 10px;
    border: none;
    height: 1.5em;
    width: 20em
}
#nameid::placeholder{
    font-family:'Courier New', Courier, monospace;
}
#messageid{
    border-radius: 10px;
    border: none;
}
#messageid::placeholder{
    font-family:'Courier New', Courier, monospace;
}

#dateid{
    border-radius: 10px;
    border: none;
    height: 1.5em;
    
    
}
#feedbackid{
    border-radius: 10px;
    border: none;
    height: 1.5em;
    width: 5em
}
#statesid{
    border-radius: 10px;
    border: none;
    height: 1.5em;
    width: 20em
    
}
hr{
    display:none;
}
li{
    text-align: left;
    color:chartreuse;
}

*{box-sizing: border-box}


.slideshow-container{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-100{
    width: 100%;
    float:left;
    position: relative;
}